.more-universities {
     /* border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 15px 20px; */
    background-color: transparent;
    text-align: center;
    font-size: large;
    color: black;
    /* margin-top: 10px;  */
    /* width: 1000px;
    
    margin: 10px auto;
    border: 1px solid;
    padding: 10px; */
    
    
}